@mixin flex($type: flex, $justify-type: center, $align-type: center) {
  display: $type;
  justify-content: $justify-type;
  align-items: $align-type;
}
@mixin font($fw, $fs, $lh) {
  font-weight: $fw;
  font-size: $fs;
  line-height: calc($lh / $fs);
}
@mixin absCenteredY() {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
@mixin absCentered() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
