:root {
  --primary-background-color: #ffffff;
  --secondary-background-color-dark: #161616;
  --secondary-background-color-light: #f4fafd;
  --accent-color: #289bde;
  --star-color: #fbbf24;
  --comas-color: #d2d2d2;
  --logo-icon-background-color: #242424;

  --primary-text-color: #777777;
  --secondary-text-color: #f4f4f4;
  --footer-text-color: #e8e8e8;
  --title-text-color: #1d1d1d;
  --subtitle-text-color: #4a4a4a;
  --white-text-color: #ffffff;
  --logo-text-color: #4a4a4a;
}
$mobile: 375px;
$tablet: 834px;
$desktop: 1600px;
