<section class="companies section">
  <div class="container">
    <h2>Trusted by over 800+ companies</h2>
    <ul>
      <li>
        <svg width="178" height="25">
          <use href="./images/symbol-defs.svg#icon-coursera"></use>
        </svg>
      </li>
      <li>
        <svg width="150" height="42">
          <use href="./images/symbol-defs.svg#icon-udemy"></use>
        </svg>
      </li>
      <li>
        <svg width="120" height="33">
          <use href="./images/symbol-defs.svg#icon-fedex"></use>
        </svg>
      </li>
      <li>
        <svg width="179" height="33">
          <use href="./images/symbol-defs.svg#icon-education"></use>
        </svg>
      </li>
      <li>
        <svg width="156" height="37">
          <use href="./images/symbol-defs.svg#icon-elecom"></use>
        </svg>
      </li>
      <li>
        <svg width="161" height="42">
          <use href="./images/symbol-defs.svg#icon-indeed"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
