<section class="elearning section">
   <div class="elearning__box container">
      <picture>
         <source srcset="
                               ./images/elearning/elearning-desktop.jpg 1x,
                               ./images/elearning/elearning-desktop2x.jpg 2x
                             " media="(min-width: 1600px)" />
         <source srcset="
                               ./images/elearning/elearning-tablet.jpg    1x,
                               ./images/elearning/elearning-tablet2x.jpg 2x
                             " media="(min-width: 834px)" />
         <source srcset="
                               ./images/elearning/elearning-mobile.jpg    1x,
                               ./images/elearning/elearning-mobile2x.jpg 2x
                             " media="(max-width: 833px)" />
         <img class="elearning__img-box" src="./images/elearning/elearning-desktop.jpg" width="600" </div>
      </picture>

      <div class="elearning__content">
         <h2 class="elearning__titel">Explore the elearning institute</h2>
         <p class="elearning__text">There are many variations of passages of Lorem Ipsum available, but the
            majority have
            suffered alteration in some form,
            by injected humour, or randomised words which<a class="elearning__text-spoiler-link" href="">...See more</a>
            <span class="elearning__text-spoiler"><a class="elearning__text-spoiler-link" href="">See more</a>don't look
               even
               slightly believable. If
               you are going to use a
               passage of
               Lorem Ipsum, you need to be sure.
               Anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet
               tend to
               repeat
               predefined.</span>
         </p>
         <ul class="elearning__list">
            <li class="elearning__item">
               <p class="elearning__text-item">3.2K+</p>
               <p class="elearning__text-name">Online Course</p>
            </li>
            <li class="elearning__item">
               <p id="out-1" class="elearning__text-item">600+</p>
               <p class="elearning__text-name">Expert member</p>
            </li>
            <li class="elearning__item">
               <p class="elearning__text-item">1k+</p>
               <p class="elearning__text-name">Rating & review</p>
            </li>
         </ul>
         <button type="button" class="elearning__button">Read more</button>
      </div>
   </div>
</section>