<section class="questions section">
  <div class="container">
    <h2 class="questions__title">Frequently asked questions</h2>
    <p class="questions__text">
      It is a long established fact that a reader will be distracted by the
      readable content of a page when looking at its layout.
    </p>
    <ul class="questions__box">
      <li class="question__list">
        <div class="questions__block">
          <p class="questions__ask">
            What other services are you compatible with?
          </p>
          <svg class="questions__icon" width="14" height="7">
            <use href="./images/symbol-defs.svg#icon-vector1"></use>
          </svg>
        </div>
        <p class="questions__answer">
          There are many variations of passages of available, but the majority
          have suffered alteration in some form, by injected humour, or
          randomised words which don't look even slightly believable. If you
          are going to use a passage of Lorem Ipsum, you need to be sure there
          isn't anything embarrassing hidden in the middle of text. All the
          generators on the.
        </p>

      </li>
      <li>
        <div class="questions__block">
          <p class="questions__ask">
            I have a technical i need resolved, who do i email?
          </p>
          <svg class="questions__icon" width="14" height="7">
            <use href="./images/symbol-defs.svg#icon-vector2"></use>
          </svg>
        </div>
      </li>
      <li>
        <div class="questions__block">
          <p class="questions__ask">
            What other services are you compatible with?
          </p>
          <svg class="questions__icon" width="14" height="7">
            <use href="./images/symbol-defs.svg#icon-vector2"></use>
          </svg>
        </div>
      </li>
      <li>
        <div class="questions__block">
          <p class="questions__ask">
            What other services are you compatible with?
          </p>
          <svg class="questions__icon" width="14" height="7">
            <use href="./images/symbol-defs.svg#icon-vector2"></use>
          </svg>
        </div>
      </li>
    </ul>
  </div>
</section>