<section class="feedback section">
   <div class="feedback__box container">
      <div class="feedback__text-box">
         <h2 class="feedback__titel">Some students feedback</h2>
         <p class="feedback__top-text">It is a long established fact that a reader will be distracted by the readable
            content of a page when looking at its
            layout.</p>
      </div>
      <ul class="feedback__list">
         <li class="feedback__item">
            <div class="feedback__content-top">
               <ul class="feedback__icon-list">
                  <li class="feedback__icon-tem">
                     <svg class="feedback__icon" width="55" height="44">
                        <use href="./images/symbol-defs.svg#icon-quotes"></use>
                     </svg>
                  </li>
                  <li class="feedback__icon-tem">
                     <svg class="feedback__icon" width="120" height="24">
                        <use href="./images/symbol-defs.svg#icon-rating"></use>
                     </svg>
                  </li>
               </ul>
               <p class="feedback__text">
                  There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                  alteration
                  in some form,
                  by injected humour, or randomised words which don't look even slightly believable. If you are going
                  to
                  use a passage of
                  Lorem.
               </p>
            </div>
            <div class="feedback__content">
               <picture>
                  <source srcset="
                               ./images/feedback/feedback-1.jpg 1x,
                               ./images/feedback/feedback-1.jpg 2x" />
                  <img class=" feedback__content-img" src="./images/feedback/feedback-1.jpg" alt="Awlad Hossain"
                     width="42px" />
               </picture>
               <div class="feedback__content-box">
                  <h3 class="feedback__content-name">Awlad Hossain</h3>
                  <p class="feedback__content-position">UI Designer</p>
               </div>
               <svg class="feedback__content-icon-left" width="8" height="17">
                  <use href="./images/symbol-defs.svg#icon-arrow-left"></use>
               </svg>
            </div>
         </li>
         <li class="feedback__item">
            <div class="feedback__content-top">
               <ul class="feedback__icon-list">
                  <li class="feedback__icon-item">
                     <svg class="feedback__icon" width="55" height="44">
                        <use href="./images/symbol-defs.svg#icon-quotes"></use>
                     </svg>
                  </li>
                  <li class="feedback__icon-item">
                     <svg class="feedback__icon" width="120" height="24">
                        <use href="./images/symbol-defs.svg#icon-rating"></use>
                     </svg>
                  </li>

               </ul>
               <p class="feedback__text">
                  There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                  alteration
                  in some form,
                  by injected humour, or randomised words which don't look even slightly believable. If you are going to
                  use a passage of
                  Lorem.
               </p>
            </div>
            <div class="feedback__content">
               <picture>
                  <source srcset="
                                              ./images/feedback/feedback-2.jpg 1x,
                                              ./images/feedback/feedback-2.jpg 2x " />
                  <img class="feedback__content-img" src="./images/feedback/feedback-2.jpg" alt="Shanta Akter"
                     width="42px" />
               </picture>
               <div class="feedback__content-box">
                  <h3 class="feedback__content-name">Shanta Akter</h3>
                  <p class="feedback__content-position">Graphic Designer</p>
               </div>
               <svg class="feedback__content-icon-right" width="8" height="17">
                  <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
               </svg>
            </div>
         </li>
      </ul>
      <div class="feedback__button-box">
         <button class="feedback__button">View all</button>
      </div>
   </div>
</section>