<div class="container">
  <a href="#" class="logo footer__logo">Pro edu</a>
  <address class="address">
    <a href="#" class="address__link"
      >Office 41, Zawaya Buildin, Ghala Muscat, Sultanate of Oman</a
    >
  </address>
  <div class="footer__text-wrapper">
    <p class="footer__text footer__policy">Privacy policy</p>
    <p class="footer__text">Terms of use</p>
  </div>

  <ul class="footer__list">
    <li class="footer__item">
      <a href="#" class="footer__link">
        <svg class="footer__social-icon footer__social-icon--facebook">
          <use href="./images/symbol-defs.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
    <li class="footer__item">
      <a href="#" class="footer__link">
        <svg class="footer__social-icon footer__social-icon--twitter">
          <use href="./images/symbol-defs.svg#icon-twitter"></use>
        </svg>
      </a>
    </li>
    <li class="footer__item">
      <a href="#" class="footer__link">
        <svg class="footer__social-icon footer__social-icon--linkedin">
          <use href="./images/symbol-defs.svg#icon-linkedin"></use>
        </svg>
      </a>
    </li>
    <li class="footer__item">
      <a href="#" class="footer__link">
        <svg class="footer__social-icon footer__social-icon--tik-tok">
          <use href="./images/symbol-defs.svg#icon-tik-tok"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
