<div class="container">
  <a href="#" class="logo">Pro edu</a>
  <address class="address">
    <a href="#" class="address__link"
      >Office 41, Zawaya Buildin, Ghala Muscat, Sultanate of Oman</a
    >
  </address>
  <p class="footer__text">Privacy policy</p>
  <p class="footer__text">Terms of use</p>
  <ul class="footer__list">
    <li class="footer__item">
      <svg>
        <use href="./images/symbol-defs.svg#icon-facebook"></use>
      </svg>
    </li>
    <li class="footer__item">
      <svg>
        <use href="./images/symbol-defs.svg#icon-twitter"></use>
      </svg>
    </li>
    <li class="footer__item">
      <svg>
        <use href="./images/symbol-defs.svg#icon-linkedin"></use>
      </svg>
    </li>
    <li class="footer__item">
      <svg>
        <use href="./images/symbol-defs.svg#icon-tik-tok"></use>
      </svg>
    </li>
  </ul>
</div>
