<section class="students">
  <div class="container">
    <h2 class="students__title">Meet our successful students</h2>
    <p class="students__text">
      It is a long established fact that a reader will be distracted by the
      readable content of a page when looking at its layout.
    </p>
    <ul class="students__list">
      <li class="students__item">
        <div class="students__card-wrapper">
          <picture>
            <source
              srcset="
                ./images/students/ui-designer-desktop.jpg    1x,
                ./images/students/ui-designer-desktop@2x.jpg 2x
              "
              media="(min-width: 1600px)"
            />
            <source
              srcset="
                ./images/students/ui-designer-tablet.jpg    1x,
                ./images/students/ui-designer-tablet@2x.jpg 2x
              "
              media="(min-width: 834px)"
            />
            <img
              src="./images/students/ui-designer-tablet.jpg"
              alt="UIUX designer"
            />
          </picture>
          <div class="students__card-text-wrapper">
            <h3 class="students__name">Awlad Hossain</h3>
            <p class="students__profession">UIUX designer</p>
          </div>
        </div>
      </li>
      <li class="students__item">
        <div class="students__card-wrapper">
          <picture>
            <source
              srcset="
                ./images/students/motion-designer-desktop.jpg    1x,
                ./images/students/motion-designer-desktop@2x.jpg 2x
              "
              media="(min-width: 1600px)"
            />
            <source
              srcset="
                ./images/students/motion-designer-tablet.jpg    1x,
                ./images/students/motion-designer-tablet@2x.jpg 2x
              "
              media="(min-width: 834px)"
            />
            <source
              srcset="
                ./images/students/motion-designer-mobile.jpg    1x,
                ./images/students/motion-designer-mobile@2x.jpg 2x
              "
              media="(max-width: 833px)"
            />
            <img
              src="./images/students/motion-designer-mobile.jpg"
              alt="motion designer"
            />
          </picture>
          <div class="students__card-text-wrapper">
            <h3 class="students__name">Jannatul Islam</h3>
            <p class="students__profession">Motion design</p>
          </div>
        </div>
      </li>
      <li class="students__item">
        <div class="students__card-wrapper">
          <picture>
            <source
              srcset="
                ./images/students/graphic-designer-desktop.jpg    1x,
                ./images/students/graphic-designer-desktop@2x.jpg 2x
              "
              media="(min-width: 1600px)"
            />
            <source
              srcset="
                ./images/students/graphic-designer-tablet.jpg    1x,
                ./images/students/graphic-designer-tablet@2x.jpg 2x
              "
              media="(min-width: 834px)"
            />
            <source
              srcset="
                ./images/students/graphic-designer-mobile.jpg    1x,
                ./images/students/graphic-designer-mobile@2x.jpg 2x
              "
              media="(max-width: 833px)"
            />
            <img
              src="./images/students/graphic-designer-mobile.jpg"
              alt="graphic designer"
            />
          </picture>
          <div class="students__card-text-wrapper">
            <h3 class="students__name">Imran Hossain</h3>
            <p class="students__profession">Graphic designer</p>
          </div>
        </div>
      </li>
      <li class="students__item">
        <div class="students__card-wrapper">
          <picture>
            <source
              srcset="
                ./images/students/web-developer-desktop.jpg    1x,
                ./images/students/web-developer-desktop@2x.jpg 2x
              "
              media="(min-width: 1600px)"
            />
            <source
              srcset="
                ./images/students/web-developer-tablet.jpg    1x,
                ./images/students/web-developer-tablet@2x.jpg 2x
              "
              media="(min-width: 834px)"
            />
            <source
              srcset="
                ./images/students/web-developer-mobile.jpg    1x,
                ./images/students/web-developer-mobile@2x.jpg 2x
              "
              media="(max-width: 833px)"
            />
            <img
              src="./images/students/web-developer-mobile.jpg"
              alt="web developer"
            />
          </picture>
          <div class="students__card-text-wrapper">
            <h3 class="students__name">Nishi Akter</h3>
            <p class="students__profession">Web developer</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <button type="button">View all</button>
</section>
