.logo {
  display: block;
  text-transform: capitalize;
}
.footer__logo {
  color: var(--white-text-color);
  text-align: center;
  @media screen and (max-width: 833px) {
    margin-bottom: 7px;
    @include font(600, 30px, 45px);
  }
  @media screen and (min-width: $tablet) {
    margin-bottom: 10px;
    @include font(600, 40px, 60px);
  }
}
