@media screen and (min-width: 834px) {
   .elearning__box {
      display: flex;
   }
}

.elearning__content {
   background-color: var(--secondary-background-color-light);
   padding: 20px 25px 20px 20px;
   @media screen and (min-width: 834px) and (max-width: 1599px) {
      display: flex;
      flex-direction: column;
      padding: 45px 45px 45px 35px;
   }
   @media screen and (min-width: 1600px) {
      padding: 130px 64px 130px 50px;
   }
}

.elearning__img-box {
   max-width: 334px;

   @media screen and (min-width: 1600px) {
      max-width: 600px;
   }
}

.elearning__titel {
   font-weight: 600;
   font-size: 20px;
   line-height: 30px;
   color: var(--title-text-color);
   text-transform: capitalize;
   max-width: 289px;
   margin-bottom: 16px;
   @media screen and (min-width: 834px) and (max-width: 1599px) {
      font-size: 30px;
      line-height: 45px;
      margin-bottom: 10px;
      max-width: 320px;
   }
   @media screen and (min-width: 1600px) {
      font-size: 45px;
      line-height: 60px;
      margin-bottom: 10px;
      max-width: 549px;
   }
}

.elearning__text {
   font-size: 14px;
   line-height: 21px;
   color: var(--primary-text-color);
   @media screen and (min-width: 834px) and (max-width: 1599px) {
      font-size: 16px;
      line-height: 26px;
   }
   @media screen and (min-width: 1600px) {
      font-size: 16px;
      line-height: 30px;
   }
}
.elearning__text-spoiler-link {
   font-family: inherit;
   color: var(--accent-color);
   @media screen and (min-width: 834px) and (max-width: 1599px) {
   }
   @media screen and (min-width: 1600px) {
      display: none;
   }
}

@media screen and (max-width: 1599px) {
   .elearning__text-spoiler {
      display: none;
   }
}

.elearning__list {
   margin-bottom: 16px;
   display: flex;
   flex-wrap: wrap;
   column-gap: 27px;
   row-gap: 16px;
   padding: 0;
   @media screen and (min-width: 834px) and (max-width: 1599px) {
      column-gap: 32px;
      row-gap: 10px;
      margin-bottom: 20px;
   }
   @media screen and (min-width: 1600px) {
      column-gap: 49px;
      margin-bottom: 30px;
   }
}
.elearning__text-item {
   font-weight: 600;
   font-size: 25px;
   line-height: 38px;
   color: var(--title-text-color);
   @media screen and (min-width: 1600px) {
      font-size: 45px;
      line-height: 60px;
   }
}
.elearning__text-name {
   font-weight: 500;
   font-size: 16px;
   line-height: 24px;
   color: var(--primary-text-color);
   @media screen and (min-width: 1600px) {
      font-size: 20px;
      line-height: 30px;
   }
}
.elearning__button {
   font-weight: 600;
   font-size: 16px;
   line-height: 24px;
   text-align: center;
   color: var(--white-text-color);
   padding: 7px 18px;
   background: var(--accent-color);
   border: 1px solid var(--accent-color);
   border-radius: 5px;
   @media screen and (min-width: 834px) and (max-width: 1599px) {
      font-size: 18px;
      line-height: 27px;
      padding: 11px 18px;
      align-self: flex-start;
   }
   @media screen and (min-width: 1600px) {
      font-size: 20px;
      line-height: 30px;

      padding: 13px 33px;
   }
}
